<div class="col-lg-12">
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <mat-card-title>Products</mat-card-title>
      <hr>
      <b>Limit, skip and select settings:</b><br>

      <mat-form-field class="example-full-width">
        <mat-label>Limit</mat-label>
        <input matInput id="limitInputField">
      </mat-form-field>
      &nbsp;
      <mat-form-field class="example-full-width">
        <mat-label>Skip</mat-label>
        <input matInput id="skipInputField">
      </mat-form-field>
      &nbsp;
      <mat-form-field class="example-full-width">
        <mat-label>Select</mat-label>
        <input matInput id="selectInputField">
      </mat-form-field>
      &nbsp;
      <button mat-flat-button color="primary" (click)="applySettings()">Apply</button>
      <hr>
      <br/>
      <b>Search products:</b>&nbsp;
      <mat-form-field class="example-full-width">
        <mat-label>Search term:</mat-label>
        <input matInput id="searchInputField">
      </mat-form-field>
      &nbsp;
      <button mat-flat-button color="primary" (click)="searchProducts()">Search</button>

      <br/>

      <b>Filter products:</b>&nbsp;
      <mat-form-field class="example-full-width">
        <mat-label>Enter filter term:</mat-label>
        <input matInput id="filterInputField" #filter>
      </mat-form-field>
      &nbsp;
      <button mat-flat-button color="primary" (click)="filterProducts(filter.value)">Filter</button>

      <br/>

      <b>Choose category:</b>
      <mat-chip-listbox id="categoryChips" aria-label="Category selection">
        <mat-chip-option *ngFor="let category of categories" (click)="setCategory(category)">{{ category }}</mat-chip-option>
      </mat-chip-listbox>

      <hr>
      <br/>

      <div class="row">
        <div class="col-sm-6 col-lg-3" *ngFor="let product of filteredProductsList">
          <mat-card class="cardWithShadow productcard overflow-hidden">
            <a [routerLink]="['/my-pages/product', product.id]">
              <img
                src="{{ product.thumbnail }}"
                alt="imgSrc"
                class="w-100"
                mat-card-image
              />
            </a>
            <mat-card-content class="p-b-24 p-t-12 position-relative">
              <mat-card-title class="mat-headline-2 f-s-16 m-b-4">{{
                product.title
              }}</mat-card-title>
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <h6 class="mat-body-2 f-w-600">{{ product.price }} €</h6>
                  <span class="f-s-14 m-l-4"
                    >In stock: {{ product.stock }}</span
                  >
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="example-button-container">
    <button (click)="openAddProductDialog()" mat-fab color="primary" aria-label="Add user button">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
