<form *ngIf="!productDeleted" [formGroup]="updateProductForm" (submit)="submitUpdateProduct()" [ariaDisabled]="!updatingProduct">
  <mat-card class="cardWithShadow">
      <mat-card-content>
        <mat-card-title>Product details</mat-card-title><br/>
        <div class="user-details-card">
          <div class="info-section">
                <mat-form-field class="full-size">
                  <mat-label>Title</mat-label>
                  <input matInput value="{{ product.title }}" formControlName="title">
                </mat-form-field><br>
                <mat-form-field class="full-size">
                  <mat-label>Description</mat-label>
                  <input matInput value="{{ product.description }}" formControlName="description">
                </mat-form-field><br>
                <mat-form-field class="full-size">
                  <mat-label>Price</mat-label>
                  <input type="number" matInput value="{{ product.price }}" formControlName="price">
                </mat-form-field><br>
                <mat-form-field class="full-size">
                  <mat-label>DiscountPercentage</mat-label>
                  <input type="number" matInput value="{{ product.discountPercentage }}" formControlName="discountPercentage">
                </mat-form-field><br>
                <mat-form-field class="full-size">
                  <mat-label>Rating</mat-label>
                  <input type="number" matInput value="{{ product.rating }}" formControlName="rating">
                </mat-form-field><br>
                <mat-form-field class="full-size">
                  <mat-label>Stock</mat-label>
                  <input type="number" matInput value="{{ product.stock }}" formControlName="stock">
                </mat-form-field><br>
                <mat-form-field class="full-size">
                  <mat-label>Brand</mat-label>
                  <input matInput value="{{ product.brand }}" formControlName="brand">
                </mat-form-field><br>
                <mat-form-field class="full-size">
                  <mat-label>Category</mat-label>
                  <input matInput value="{{ product.category }}" formControlName="category">
                </mat-form-field><br>
          </div>
          <div class="image-section">
              <img src="{{ product.thumbnail }}" alt="user image"/><br>
                <img *ngFor="let image of product.images"src="{{image}}" style="width: auto; height: 10vh; object-fit: cover;" alt="Product image">
          </div>
        </div>
        <div class="other-info" >
          <button type="submit" mat-flat-button *ngIf="updatingProduct">Save product</button>
          <button type="submit" mat-flat-button *ngIf="!updatingProduct">Update product</button>
        </div>
        <div class="other-info">
          <button mat-flat-button (click)="deleteProduct()">Delete product</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
<mat-card *ngIf="productDeleted" class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Product was sucessfully deleted</mat-card-title><br/>
  </mat-card-content>
</mat-card>
