
<form *ngIf="!cartDeleted" [formGroup]="updateCartForm" (submit)="submitUpdateCart()">
  <mat-card class="cardWithShadow">
      <mat-card-content>
        <mat-card-title>Cart details</mat-card-title><br/>
        <div class="other-info">
          <div>
            <b>Cart owner: </b>{{ cartUser.firstName }} {{ cartUser.lastName }}<br><br>
            <mat-form-field class="half-size">
              <mat-label>Total amount</mat-label>
              <input matInput value="{{ cart.total }}" formControlName="total" [disabled]="!updatingCart">
            </mat-form-field><br>
            <mat-form-field class="half-size">
              <mat-label>Discounted total amount</mat-label>
              <input matInput value="{{ cart.discountedTotal }}" formControlName="discountedTotal" [disabled]="!updatingCart">
            </mat-form-field><br>
            <mat-form-field class="half-size">
              <mat-label>Total number of products</mat-label>
              <input matInput value="{{ cart.totalProducts }}" formControlName="totalProducts" [disabled]="!updatingCart">
            </mat-form-field><br>
            <mat-form-field class="half-size">
              <mat-label>Total quantity</mat-label>
              <input matInput value="{{ cart.totalQuantity }}" formControlName="totalQuantity" [disabled]="!updatingCart">
            </mat-form-field>
          </div>
        </div>
        <div class="other-info" >
          <button type="submit" mat-flat-button *ngIf="updatingCart">Save cart</button>
          <button type="submit" mat-flat-button *ngIf="!updatingCart">Update cart</button>
        </div>
        <div class="other-info">
          <button mat-flat-button (click)="deleteCart()">Delete cart</button>
        </div>
        <hr>
        <h3>Products in cart: </h3>
        <div class="row">
        <div class="col-sm-6 col-lg-4" *ngFor="let product of cart.products">
          <mat-card class="cardWithShadow productcard overflow-hidden">
            <a [routerLink]="['/my-pages/product', product.id]">
              <img
                src="{{ product.thumbnail }}"
                alt="imgSrc"
                class="w-100"
                mat-card-image
              />
            </a>
            <mat-card-content class="p-b-24 p-t-12 position-relative">
              <mat-card-title class="mat-headline-2 f-s-16 m-b-4">{{
                product.title
              }} (x{{ product.quantity }})</mat-card-title>
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <h6 class="mat-body-2 f-w-600">{{ product.price }} €</h6><br>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
<mat-card *ngIf="cartDeleted" class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Cart was sucessfully deleted</mat-card-title><br/>
  </mat-card-content>
</mat-card>