<h1>Product details</h1>

<h2>Id:</h2> 
<p>{{ product.id }}</p>

<h2>Title: </h2>
<p>{{ product.title }}</p>


<h2>Description: </h2>
<p>{{ product.description }}</p>


<h2>Price: </h2>
<p>{{ product.price }}</p>


<h2>Discount percentage: </h2>
<p>{{ product.discountPercentage }}</p>


<h2>Rating: </h2>
<p>{{ product.rating }}</p>


<h2>Stock: </h2>
<p>{{ product.stock }}</p>

<h2>Brand: </h2>
<p>{{ product.brand }}</p>

<h2>Category: </h2>
<p>{{ product.category }}</p>

<h2>Thumbnail: </h2>
<p><img src="{{ product.thumbnail }}" alt="product thumbnail"/></p>
